name: CI Pipeline for To-Do App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t todo-app .

    - name: Run Docker container
      run: docker run -d -p 8080:80 todo-app
